<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Html Request Response</title> -->
    <title>Pheixon | <%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    <style>
 /*        body{
            background-color:lightgreen;
        }
       .create-blog form{
            max-width: 400px;
            margin:0 auto;
        }

        .create-blog label{
            display: block;
            margin-top: 24px;
        }

        .create-blog input, .create-blog textarea{
            width:100%;
            display: block;
            margin: 10px 0;
            padding: 8px;
        }

        textarea{
            height: 120px;
        }

        .create-blog button{
            margin-top: 25px;
            background-color:rgb(1, 125, 1);
            color: rgb(255, 255, 255);
            border-radius: 20px;
            padding: 8px ;
            border: 0;
            font-size: 1rem;
            cursor: pointer;
        }
*/

    </style>

</head>