<nav>
    <div class="site-title">
        <a href="/">Pheixon</a>
        <p>This is esports gaming site</p>
    </div>
    <ul> 
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/contact">Contact us</a></li>
        <li><a href="/privacy">Privacy Policies</a></li>
        <li><a href="/blogs/create">Create New Blog</a></li>
    </ul>
</nav>