<!DOCTYPE html>
<html lang="en">

<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pheixon | <%= title  %></title>
</head> -->

<%- include('./partials/header.ejs')  %>

<body>
    <!-- <nav>
        <div class="site-title">
            <a href="/">Pheixon</a>
            <p>This is esports gaming site</p>
        </div>
        <ul> 
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/blogs/create">Create New Blog</a></li>
        </ul>
    </nav> -->


    <%- include('./partials/nav.ejs')%>
    
    <h1>404 Page</h1>
    <p>Page not found</p>

    <%- include('./partials/footer.ejs') %>
</body>
</html>