<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Html Request Response</title>
</head>
<body>    
  
    <!-- <h1>Hello</h1>
    <p>This is new html</p>

    <h2>Routing</h2>
    <h2>Status Code</h2>
    <ul>
        <li>100 Range: Informational response</li>
        <li>200: Success code</li>
        <li>300: redirection</li>
        <li>400: client side error codes</li>
        <li>500: server side error codes</li>
    </ul> -->

  <nav>
        <div class="site-title">
            <a href="/">Pheixon</a>
            <p>This is esports gaming site</p>
        </div>
        <ul> 
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/teams">Teams</a></li>

        </ul>
    </nav>

    
    <div class="blog-content">
        <p>All Blogs</p>
    </div>

    
</body>
</html>