html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.background{
    height:100%;
    width: 100%;
}
.rocket {
    width: 150px;
    position:absolute;
    top: 70%;
    left: 45%;
    animation: fly 40s;
}

@keyframes fly{
    0%{
        top: 500px;
    }
    30%{
     top:100px;
    }
    50%{
        transform: rotate(125deg) translate(50%, -200vh) ;
       
    }
}